@import 'scss/animations';
@import 'scss/fonts';
@import 'scss/slider';

$regular: 'Nunito';

$primary: #3d465a;
$red: #ed1a38;
$blue: #17479e;
$white: #ffffff;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-dermoscan.es-dermoscan {
  font-weight: 300;
  line-height: 1.2;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  color: $primary;
  background-color: #fff;
  font-family: $regular;
  font-size: 18px;

  .es-button {
    @include text;
    display: block;
    max-width: 295px;
    margin: 0 auto;
    padding: 15px 15px;
    color: $white;
    font-weight: 800;
    background-color: $blue;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #1f60d8;
    }
  }

  .es-title {
    @include text;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .es-kv {
    background-color: #edeff1;
    padding-bottom: 45px;

    &__img {
      width: 100%;
      margin-bottom: 20px;

      &--desktop {
        display: none;
      }
    }

    &__start-text {
      display: none;
    }

    &__content {
      display: none;
      padding: 30px;
    }

    &__logo {
      margin-bottom: 20px;
    }

    &__description {
      position: relative;
      padding-left: 20px;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 100%;
        border-left: 3px solid #3f4659;
      }
    }

    &__title {
      font-size: 20px;
      text-align-last: left;
      font-weight: 800;
    }

    &__subtitle {
      font-size: 16px;
      max-width: 366px;
      @include text;
    }
  }

  .es-qr {
    display: none;
    position: relative;
    margin-top: -20px;
    padding-top: 20px;
    z-index: 2;
    background-color: #d5e3f0;

    &__text {
      @include text;
    }

    &__text-title {
      @include text;
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 800;
      color: $blue;
      animation: es-pulse 2s infinite;
    }

    &__text-subtitle {
      @include text;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 20px;
      color: $blue;
    }

    &__description {
      @include text;
      color: $primary;
    }
  }

  .es-steps {
    padding-bottom: 45px;
    background-color: #edeff1;

    &__title {
      &--light {
        font-weight: 300;
      }
    }

    &__slider {
      position: relative;
      margin-bottom: 30px;

      .slick-pagination,
      .slick-pagination-2 {
        position: absolute;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
      }

      .slick-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0 4px;
        padding: 0;
        margin: 0;
      }

      .slick-dots li {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        background: #d6d7db;
        opacity: 1;
      }

      .slick-dots li:not(:last-child) {
        margin-right: 6px;
      }

      .slick-dots li.slick-active {
        background: $blue;
      }

      .slick-dots li button {
        display: none;
      }

      &--desktop {
        display: none;
      }
    }

    &__slide {
      &-img {
        @include img;
      }

      &-name {
        @include text;
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 700;
        color: $blue;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
      }

      &-description {
        @include text;
        max-width: 260px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }

  .es-advanced {
    background-color: rgb(137, 176, 210, 0.329);
    padding: 35px 15px;

    &__title {
      &--light {
        font-weight: 300;
      }
    }

    &__description {
      @include text;
      margin: 0 auto;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      margin-bottom: 50px;
    }

    &__item {
      position: relative;
      max-width: 370px;
      margin-bottom: 80px;
      padding: 75px 41px;
      padding-bottom: 15px;
      border: 1px solid black;
      border-radius: 15px;

      &--first {
        &::before {
          content: '';
          width: 100%;
          height: 87px;
          background: url('./images/icon-1-bg.png') no-repeat center center;
          position: absolute;
          top: 3px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &--second {
        &::before {
          content: '';
          width: 100%;
          height: 87px;
          background: url('./images/icon-2-bg.png') no-repeat center center;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:last-of-type {
        margin-bottom: 30px;
      }
    }

    &__problem-title {
      max-width: 190px;
      @include text;
      font-size: 30px;
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;
      color: $red;

      &--bold {
        font-weight: 700;
      }
    }

    &__problem-description {
      min-height: 110px;
      @include text;
      text-align: center;
    }

    &__disclaimer {
      @include text;
      margin-bottom: 30px;
      font-size: 14px;
      text-align: center;
    }

    &__section-description {
      @include text;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      &--underlined {
        text-decoration: underline;
      }
    }
  }

  .es-science {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      &--light {
        font-weight: 300;
      }
    }

    &__slider-2 {
      position: relative;
      margin-bottom: 30px;

      .slick-pagination-2 {
        position: absolute;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
      }

      .slick-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0 4px;
        padding: 0;
        margin: 0;
      }

      .slick-dots li {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        background: #d6d7db;
        opacity: 1;
      }

      .slick-dots li:not(:last-child) {
        margin-right: 6px;
      }

      .slick-dots li.slick-active {
        background: $blue;
      }

      .slick-dots li button {
        display: none;
      }
    }

    &__slide {
      padding-right: 15px;
    }

    &__slide-container {
      padding-left: 40px;
      padding-right: 15px;
    }

    &__slide-img {
      @include img;
      margin-bottom: 20px;

      &--desktop {
        display: none;
      }
    }

    &__slide-name {
      @include text;
      margin-bottom: 20px;
      font-weight: 700;
      color: $red;
      text-transform: uppercase;
    }

    &__slide-description {
      @include text;
      margin-bottom: 20px;
    }

    &__text {
      &--desktop {
        display: none;
      }
    }
  }

  .es-faq {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      &--light {
        font-weight: 300;
      }
    }

    .es-accordion {
      margin: 0 auto;
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;

      &__element {
        margin: 0 auto;
        margin-bottom: 20px;
        background: #d5e3f0;
        border: 2px solid #d5e3f0;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      }

      &__element-content {
        font-size: 13px;
        color: #888885;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        background: $white;
      }

      &__title {
        @include text;
        font-weight: 700;
        position: relative;
        padding: 17px 50px 17px 15px;
        font-size: 16px;
        color: $blue;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        cursor: pointer;
      }

      .acc-tab:before {
        font-family: 'FontAwesome';
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 100%;
        top: 0;
        right: 0;
        background: url(./images/plus.png) 50% 50% no-repeat;
        color: #fff;
        text-align: center;
        line-height: 50px;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
      }

      .acc-tab.active:before {
        background: url(./images/minus.png) 50% 50% no-repeat;
      }

      & > div:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .es-disclaimer {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    &__text {
      margin-top: 20px;
      @include text;
      font-size: 12px;
    }
  }
}

@media (min-width: 480px) {
  #es-dermoscan.es-dermoscan {
    .es-science {
      &__slide-img {
        margin-left: 0;
        width: 450px;
      }
    }
  }
}

@media (min-width: 550px) {
  #es-dermoscan.es-dermoscan {
    .es-kv {
      position: relative;
      background: url('./images/bg-desktop.png') no-repeat center center;
      background-size: cover;

      &__button {
        display: none;
      }

      &__content {
        display: block;
      }

      &__start-text {
        display: inline-block;
        position: absolute;
        bottom: 1%;
        display: block;
        width: 100%;
        @include text;
        padding: 28px;
        font-weight: 700;
        color: $white;
        background: $blue;
        text-align: center;
        text-transform: uppercase;
      }

      &__img {
        display: none;

        &--desktop {
          display: block;
        }
      }
    }

    .es-steps {
      padding-top: 15px;

      &__slider {
        display: none;

        &--desktop {
          display: block;
        }
      }

      &__slides {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        max-width: 570px;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 695px) {
  #es-dermoscan.es-dermoscan {
    .es-kv {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 60px;

      &__content {
        order: 1;
      }
    }

    .es-qr {
      display: block;
      padding: 15px;
      padding-bottom: 0;

      &__content {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
      }

      &__img {
        @include img;
        width: 340px;
      }
    }

    .es-advanced {
      &__content-inner {
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
      }

      &__description {
        margin-bottom: 80px;
      }

      &__item {
        width: 50%;
        min-height: 310px;
        margin-bottom: 30px;
      }
    }

    .es-science {
      .slick-pagination-2 {
        bottom: 10%;
        left: 58%;
      }

      &__slide-img {
        display: none;
        width: 50%;

        &--desktop {
          display: block;
        }
      }

      &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__slide-container {
        flex: 50%;
      }

      &__slide-description {
        max-width: 400px;
      }
    }
  }
}

@media (min-width: 820px) {
  #es-dermoscan.es-dermoscan {
    .es-kv {
      &__start-text {
        bottom: 6%;
      }
    }

    .es-qr {
      margin-top: -44px;
    }

    .es-steps {
      padding-top: 60px;
    }

    .es-science {
      .slick-pagination-2 {
        bottom: 20%;
        left: 57%;
      }
    }
  }
}

@media (min-width: 900px) {
  #es-dermoscan.es-dermoscan {
    .es-title {
      font-size: 35px;
    }

    .es-kv {
      &__img {
        &--desktop {
          width: 500px;
        }
      }

      &__start-text {
        bottom: 7%;
      }

      &__title {
        font-size: 28px;
        font-weight: 800;
      }

      &__subtitle {
        font-size: 18px;
      }
    }

    .es-advanced {
      &__disclaimer {
        max-width: 740px;
        margin-bottom: 10px;
      }

      &__section-description {
        max-width: 840px;
        margin-top: 0;
      }
    }

    .es-steps {
      padding-bottom: 20px;

      &__title {
        margin-bottom: 60px;
      }
    }

    .es-qr {
      background: url('./images/qr-background.png') no-repeat 65% center;

      &__content {
        display: flex;
        gap: 90px;
      }
    }
  }
}

@media (min-width: 1050px) {
  #es-dermoscan.es-dermoscan {
    .es-steps {
      &__slides {
        max-width: 100%;
      }
    }

    .es-science {
      position: relative;

      &__text {
        display: none;

        &--desktop {
          display: block;
          position: absolute;
          left: 50%;
          padding-left: 30px;
          text-align-last: left;
        }
      }

      .slick-pagination-2 {
        bottom: 25%;
        left: 56%;
      }
    }
  }
}

@media (min-width: 1200px) {
  #es-dermoscan.es-dermoscan {
    .es-kv {
      gap: 30px;

      &__content {
        margin-bottom: 80px;
      }

      &__title {
        margin-bottom: 10px;
        font-size: 35px;
      }

      &__subtitle {
        font-size: 19px;
      }
    }

    .es-advanced {
      &__content-inner {
        gap: 30px;
      }
    }

    .es-science {
      &__text {
        &--dektop {
          top: 45px;
        }
      }

      .slick-pagination-2 {
        bottom: 30%;
        left: 55%;
      }
    }

    .es-faq {
      .es-accordion {
        &__title {
          padding: 17px 273px 17px 15px;
          font-size: 21px;
        }

        .acc-tab:before {
          right: 12px;
        }
      }
    }
  }
}
